.toast-enter-active {
  transform: translate(0px, 0px);
  transition: transform 600ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.toast-leave-active {
  transform: translate(0px, 0px);
  transition: transform 5000ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.toast-enter, .toast-leave-to {
  transform: translateY(100vh);
}
